html,body{
  font-family: $default-font;
  font-size: 16px;
  font-weight: 400;
}
.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}
.container{
  max-width: 1440px;
  margin: 0 auto;
  height: 100%;
}

.news{
  display: flex;
  border-radius: 20px;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  height: 100%;
  padding: 2% 4%;
  background-color: $background-color;
  margin-top: 5.5em;
}
