.font-text{
  font-size: 12px;
  font-weight: 400;
  color:gray;
  font-family: "Nunito", sans-serif;
}
.font-title{
  font-size: 18px;
  font-weight: 600;
  color:$title-color;
  font-family: "Montserrat", sans-serif;
}